
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Not_Logged_In.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="login-border">
        <p style="text-align:center;"><strong>Log into Go To Bar</strong></p>
        <table>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>Login:</td>
                <td>&nbsp;</td>
                <td>@Html.TextBox("login")</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>&nbsp;</td>
                <td>@Html.Password("password")</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;"><input type="submit" value="Submit" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;"><a href="/forgotPassword">Forgot Password</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
